{% extends 'maincat/base.html' %}



{% block content %}

<div class="intro">
	<div class="container">
		<div class="intro__inner">

			<h1 class="intro__title">about</h1>

			<p class="intro__text">
				Hello, dear friend. You're welcome in metacats world and our little community.

			<p class="intro__text">Metacats NFT project was released in the beginning of
			2024 year, and it was a long way of hard work to prepare everything.</p>

			<p class="intro__text">Metacats NFTs are a 10,000 piece collection of digital
			creatures, created by artist. If you like cg art and cats - you found your
			place in metaworld. Let's see where our path takes us...</p>

		</div>
	</div>
</div>

{% endblock content%}
